@import "tailwindcss";

button:hover, a:hover {
opacity: .6 !important;
transition: ease .3s;
cursor: pointer;
}

button:disabled, a:disabled, input:disabled {
opacity: .5 !important;
cursor: not-allowed;
}

.text-secondary {
    @apply text-orange-500;
}

.text-dark {
    @apply text-slate-700;
}

.bg-main {
    @apply bg-sky-700 text-white;
}

.bg-dark {
    @apply bg-slate-800;
}